# Question 4

Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.

    Sample Data -
    Excepted Output Data Attributes
    ● Name of Earth Meteorite - string id - ID of Earth
    ● Meteorite - int nametype - string recclass - string
    ● mass - Mass of Earth Meteorite - float year - Year at which Earth
    ● Meteorite was hit - datetime format reclat - float recclong - float
    ● point coordinates - list of int

DataLink - https://data.nasa.gov/resource/y77d-th95.json

In [2]:
# importing neccesary libraries
import requests    # send HTTP request
import csv   # making csv file
import pandas as pd    # data reading
import json    # get json data

In [3]:
url = "https://data.nasa.gov/resource/y77d-th95.json"  #url
response = requests.get(url)  # get json data from url
response.status_code == 200   # give code to extract data
json_data = response.json()   # get data

In [4]:
structured_data = []                # get data in proper format with headers as features
for item in json_data:
        structured_data.append({
        'name':item.get('name'),
        'id':item.get('id'),
        'nametype':item.get('nametype'),
        'recclass':item.get('recclass'),
        'mass':float(item.get('mass',0)),
        'fall':item.get('fall'),
        'year':item.get('year', '')[:10],
        'reclat':float(item.get('reclat',0)),
        'reclong': float(item.get('reclong', 0.0)),
        'coordinates':[float(item.get('reclong', 0.0)), float(item.get('reclat', 0.0))]
        
    })

In [6]:
def save_to_csv(data, output_file):                 # Function to save structured data as CSV
    fieldnames = data[0].keys()
    with open(output_file, 'w', newline='',encoding="utf-8") as csvfile:  #  writig data as in csv file
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
        writer.writeheader()
        writer.writerows(data)

In [7]:

output_file = "nasa_meteorite_data.csv"   # csv file
save_to_csv(structured_data, output_file)    # save structured data as CSV
print("Data saved to", output_file)

Data saved to nasa_meteorite_data.csv

In [10]:
df=pd.read_csv('nasa_meteorite_data.csv')    # read csv file
df.head()   # get 1st five rows

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,coordinates
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01,50.77500,6.08333,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01,56.18333,10.23333,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01,54.21667,-113.00000,"[-113.0, 54.21667]"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01,16.88333,-99.90000,"[-99.9, 16.88333]"
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01,-33.16667,-64.95000,"[-64.95, -33.16667]"

In [5]:
# df